/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../../.gem/ruby/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../.gem/ruby/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../.gem/ruby/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../.gem/ruby/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../.gem/ruby/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../.gem/ruby/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../.gem/ruby/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../.gem/ruby/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../.gem/ruby/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 61, ../../../../.gem/ruby/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/_vertical_rhythm.scss */
* html {
  font-size: 100%;
}

/* line 64, ../../../../.gem/ruby/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/_vertical_rhythm.scss */
html {
  font-size: 16px;
  line-height: 1.5em;
}

/* line 7, ../sass/screen.scss */
body {
  overflow: hidden;
  font-family: Helvetica, Arial, sans-serif;
}

/* line 12, ../sass/screen.scss */
.wrapper {
  overflow: hidden;
  position: absolute;
  top: 3.7em;
  right: 0;
  bottom: -100px;
  left: 0;
}

/* line 21, ../sass/screen.scss */
.view {
  white-space: nowrap;
  overflow: hidden;
}

/* line 26, ../sass/screen.scss */
.page {
  padding: 40px 40px 80px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: teal;
  display: inline-block;
  white-space: normal;
  vertical-align: top;
  font-size: 12px;
  line-height: 18px;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  /* @include debug-vertical-alignment; */
}

/*
 Header bar
 */
/* line 49, ../sass/screen.scss */
.header {
  zoom: 1;
  line-height: 1em;
  color: #fff;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #3c3c3c), color-stop(100%, #111111));
  background-image: -webkit-linear-gradient(#3c3c3c, #111111);
  background-image: -moz-linear-gradient(#3c3c3c, #111111);
  background-image: -o-linear-gradient(#3c3c3c, #111111);
  background-image: linear-gradient(#3c3c3c, #111111);
  border-style: solid;
  border-width: 1px;
  border-left-width: 0;
  border-right-width: 0;
  border-top-color: #3c3c3c;
  border-bottom-color: #111;
}
/* line 62, ../sass/screen.scss */
.header a {
  color: #fff;
}
/* line 65, ../sass/screen.scss */
.header h1 {
  font-weight: bold;
  margin: 0.6em 10em 0.6em 2.4em;
  padding: 0;
}
/* line 70, ../sass/screen.scss */
.header .logo {
  left: 0.6em;
  top: 0.6em;
  width: 18px;
  height: 18px;
}
/* line 77, ../sass/screen.scss */
.header .btn-about {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #555555), color-stop(100%, #3b3b3b));
  background-image: -webkit-linear-gradient(#555555, #3b3b3b);
  background-image: -moz-linear-gradient(#555555, #3b3b3b);
  background-image: -o-linear-gradient(#555555, #3b3b3b);
  background-image: linear-gradient(#555555, #3b3b3b);
  -webkit-box-shadow: 1px 1px 0px rgba(255, 255, 255, 0.1);
  -moz-box-shadow: 1px 1px 0px rgba(255, 255, 255, 0.1);
  box-shadow: 1px 1px 0px rgba(255, 255, 255, 0.1);
  line-height: 1em;
  font-size: 12.5px;
  border: 1px solid #151515;
  right: 0.6em;
  top: 0.3em;
}
/* line 27, ../sass/_base.scss */
.header .btn-about span {
  display: block;
  padding: 0.55em 1em 0.5em;
  border-top: 1px solid #888888;
  border-left: 1px solid #5d5d5d;
  text-shadow: #151515 0px 1px 1px;
  /* @include single-text-shadow(0px, 1px, 1px, 0px, #111); */
}

/* line 84, ../sass/screen.scss */
nav {
  background-color: #e6e6e6;
  text-align: center;
}
/* line 87, ../sass/screen.scss */
nav li {
  height: 1em;
  list-style: none;
  display: inline-block;
}
/* line 91, ../sass/screen.scss */
nav li a {
  display: inline-block;
  width: 8px;
  height: 8px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  background-color: #aaa;
}
/* line 97, ../sass/screen.scss */
nav li a:hover, nav li a.selected {
  background-color: #333;
}

/* line 104, ../sass/screen.scss */
.btn-prep, .header .logo, .header .btn-about {
  margin: 0;
  display: inline-block;
  position: absolute;
  font-weight: bold;
  text-decoration: none;
}

/* line 112, ../sass/screen.scss */
.icon-home {
  padding: 0;
  height: 100%;
  background: url("../gfx/logo.png") no-repeat;
  display: block;
  position: relative;
  min-width: 0.75em;
}

/*
 content
*/
/* line 125, ../sass/screen.scss */
article h1 {
  font-size: 2.625em;
  line-height: 1.14286em;
}

/* line 129, ../sass/screen.scss */
article h2 {
  font-size: 2em;
  line-height: 1.5em;
}

/*
 footer
*/
/*
 media queries
 */
@media screen and (-webkit-min-device-pixel-ratio: 2), screen and (max--moz-device-pixel-ratio: 2) {
  /* line 147, ../sass/screen.scss */
  .icon-home {
    background: url("../gfx/logo@2x.png") no-repeat;
    -webkit-background-size: 18px;
    -moz-background-size: 18px;
    -o-background-size: 18px;
    background-size: 18px;
  }
}
