@charset "UTF-8";
@import "compass";
@import "compass/reset";
@import "font-awesome";
@include establish-baseline;



@mixin button($position, $color) {
	$shade: shade($color, 75%);
	$gradient-shade: shade($color, 30%);
	$highlight-top: tint($color, 30%);
	$highlight-left: tint($color, 5%);
	
	@extend .btn-prep;
	@include background-image(linear-gradient($color, $gradient-shade));
	@include single-box-shadow(rgba(#fff, 0.1), 1px, 1px, 0px);
	line-height: 1em;
	font-size: 12.5px;
	border: 1px solid $shade;
	@if $position == right {
		right: 0.6em;
	} @else if $position == left {
		left: 0.6em;
	}
		span {
			display: block;
			padding: 0.55em 1em 0.5em;
			border-top: 1px solid $highlight-top;
			border-left: 1px solid $highlight-left;
			text-shadow: $shade 0px 1px 1px;
			/* @include single-text-shadow(0px, 1px, 1px, 0px, #111); */
		}
}

@mixin respond-to($device) {
	@if $device == phone-landscape {
		@media (min-width: 320px) {
			@content;
		}
	} @else if $device == tablet-portrait {
		@media (min-width: 480px) {
			@content;
		}
	} @else if $device == tablet-landscape {
		@media (min-width: 768px) {
			@content;
		}
	} @else if $device == desktop {
		@media (min-width: 1024px) {
			@content;
		}
	}
}

@mixin retina {
	@media
		(min--moz-device-pixel-ratio: 1.5),
		(-o-min-device-pixel-ratio: 3/2),
		(-webkit-min-device-pixel-ratio: 1.5),
		(min-resolution: 1.5dppx) 
	{
		@content;
	}
		
}

%button-list-item {
	margin-bottom: 3px;
	@include border-radius(4px);
	@include background-image(linear-gradient(#3C3C3C, #111));
	border: {
		style: solid;
		width: 1px;
		color: #3c3c3c;
	}
	a {
		padding: 0.5em 0.2em 0.5em 0;
		display: block;
	}
	.icon {
		font-size: 48px;
		vertical-align: middle;
	}
}