$base-font-size: 16px;
$base-line-height: 24px;

@import "compass";
@import "compass/reset";
@include establish-baseline;



@mixin button($position, $color) {
	$shade: shade($color, 75%);
	$gradient-shade: shade($color, 30%);
	$highlight-top: tint($color, 30%);
	$highlight-left: tint($color, 5%);
	
	@extend .btn-prep;
	@include background-image(linear-gradient($color, $gradient-shade));
	@include single-box-shadow(rgba(#fff, 0.1), 1px, 1px, 0px);
	line-height: 1em;
	font-size: 12.5px;
	border: 1px solid $shade;
	@if $position == right {
		right: 0.6em;
	} @else if $position == left {
		left: 0.6em;
	}
		span {
			display: block;
			padding: 0.55em 1em 0.5em;
			border-top: 1px solid $highlight-top;
			border-left: 1px solid $highlight-left;
			text-shadow: $shade 0px 1px 1px;
			/* @include single-text-shadow(0px, 1px, 1px, 0px, #111); */
		}
}