@charset "UTF-8";
@import "base";

body {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 100%;
	color: #3b3b3b;
	position: relative;
	background: #676767 repeat-x fixed url('../gfx/bg-noise-half.png');
	overflow-x: hidden; /* does it work on mobile?? needed? */
}

a {
	color: #000;
	&:hover, &:focus {
		color: #000;
	}
}

p,
figure {
	margin-bottom: 12px;
}

figure {
	background-color: rgba(255, 255, 255, 0.7);
	padding: 12px;
	@include border-radius(3px);
	line-height: 0;
	@include respond-to(laptop) {
		&.cover {
			display: none;
		}
	}
}

img,
object,
embed,
video {
	max-width: 100%;
}

.shutter {
	background: #676767 repeat-x fixed url('../gfx/bg-noise-half.png');
	position: fixed;
	height: 100%;
	top: 0;
	right: 0;
	left: 0;
}

.page,
.special-page {
	padding: 6.25% 6.25% 12.5%; /* 20 % 320 */
	position: fixed;
	top: 0;
	z-index: 1;
	-webkit-transform: translateZ(0);
	background-color: #eee;
	@include single-box-shadow;
	/* @include debug-vertical-alignment; */
}

.special-page {
	display: none;
	position: absolute;
	top: 0em;
}

.page.first {
	top: auto;
	position: relative;
	display: block;
	z-index: 10;
}


.header {
	position: relative;
	z-index: 300;
	line-height: 1em;
	@include respond-to(laptop) {
		height: 3em;
	}
	color: #fff;
	@include background-image(linear-gradient(#3C3C3C, #111));
	border: {
		style: solid;
		width: 1px;
		left-width: 0;
		right-width: 0;
		top-color: #3c3c3c;
		bottom-color: #111;
	}
		a {
			color: #fff;
			@include respond-to(tablet-portrait) {
				color: #eee;
			}
		}
		h1 {
			font-weight: bold;
			margin: 0.6em 10em 0.6em 2.4em;
			padding: 0;
			@include respond-to(tablet-portrait) {
				float: left;
				margin-right: 2.4em;
			}
		}
		.logo {
			@extend .btn-prep;
			left: 0.6em;
			top: 0.6em;
			width: 18px;
			height: 18px;
		}
		.btn-back {
			@include button(right, #555);
			top: 0.3em;
		}
		.btn-about {
			@include button(right, #555);
			top: 0.3em;
			@include respond-to(tablet-portrait) {
				float: right;
				position: relative !important;
				display: inline;
				font-weight: normal !important;
				border: 0;
				right: 0;
				top: 0;
				@include background-image(none);
				@include single-box-shadow(none);
				span {
					border: 0;
					text-shadow: none;
					padding: 0.2em 0.3em;
				}
				&.selected, &:hover {
					@include respond-to(tablet-portrait) {
						color: #fff;
						text-decoration: underline;
					}
				}
			}
		}

}


nav {
	position: relative;
	z-index: 20;
	background-color: #111;
	text-align: center;
	height: 1.5em;
	font-size: 0.9em;
	@include respond-to(tablet-portrait) {
		float: right;
		background-color: transparent;
	}
	a {
		display: inline-block;
		width: 8px;
		height: 8px;
		@include border-radius(4px);
		background-color: #aaa;
		overflow: hidden;
		text-indent: 10px;
		text-decoration: none;
		margin-right: 4px;
		@include respond-to(tablet-portrait) {
			padding: 0.2em 0.3em;
			width: auto;
			height: auto;
			background-color: transparent;
			overflow: auto;
		}
		&.selected, &:hover {
			background-color: #eee;
			@include respond-to(tablet-portrait) {
				background-color: transparent;
				color: #ffffff;
				text-decoration: underline;
			}
		}
	}
}

.btn-prep {	
	margin: 0;
	display: inline-block;
	position: absolute;
	font-weight: bold;
	text-decoration: none;
}

.home-icon {
	padding: 0;
	height: 100%;
	background: url('../gfx/logo.png') no-repeat;
	display: block;
	position: relative;
	min-width: 0.75em;
	@include retina {
		background: url('../gfx/logo@2x.png') no-repeat;
		@include background-size(18px);	
	}
}


/*
 content
*/
em {
	font-style: italic;
}

header {
	hgroup {
		margin-bottom: 1.4em;
	}
	
	figure {
		display: none;
		padding: 0;
		max-height: 300px;
		overflow: hidden;
		@include respond-to(laptop) {
			display: block;
		}
	}
	
	h1 {
		font-family: 'Bitter', serif;
		font-size: 2em;
		line-height: 1.2em;
		@include respond-to(tablet-portrait) {
			font-size: 3.2em;
		}
	}
	
	h2 {
		font-size: 1.4em;
		line-height: 1.2em;
		font-family: 'Bitter', serif;
	}
	
	h3 {
		font-size: 1em;
		line-height: 1.4em;
	}
}

article {
	@include respond-to(laptop) {
		display: inline-block;
		max-width: 60%;
		margin-right: 5%;
		vertical-align: top;
	}
	
	p, li, a {
		font-size: 1em;
		line-height: 1.4em;
		/*
		text-align: justify;
		hyphens: auto;
		-webkit-hyphens: auto;
		-moz-hyphens: auto;
		-ms-hyphens: auto;
		*/
	}
	
	figcaption {
		font-size: 0.9em;
		line-height: 1.4em;
	}
	
}

.columned {
	vertical-align: top;
	@include respond-to(tablet-portrait) {
		width: 49%;
		display: inline-block;
	}
	@include respond-to(desktop) {
		width: 32%;
		display: inline-block;
	}
	&:last-child {
		margin-bottom: 24px;
	}
}

.icon-block {
	.leading-icon, p {
		display: inline-block;
		vertical-align: text-top;
	}
	.leading-icon {
		width: 25%;
		text-align: center;
		margin-right: 2%;
	}
	p {
		width: 71%;
	}
}

.list {
	margin-left: 2em;
	list-style: disc;
}

.embedded-video {
	position: relative;
	padding-bottom: 56%;
	padding-top: 25px;
	height: 0;
	iframe {
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
	}
}

.actions li {
	@extend %button-list-item;
	background-color: #000;
	color: #fff;
	a {
		color: #fff;
		text-decoration: none;
		&:hover, &:focus {
			color: #fff;
		}
	}
}

footer {
	@include respond-to(laptop) {
		display: inline-block;
		max-width: 34%;
	}
}

footer li {
	display: inline;
	margin-right: 4px;
	padding: 4px;
	line-height: 2em;
	background-color: #000;
	color: #fff;
	white-space: nowrap;
}


/*
 media queries
 */

@import "projects";