@import "base";
body {
	font-family: Helvetica, Arial, sans-serif;
	background-color: #111;
	overflow-x: hidden; /* does it work on mobile?? needed? */
}

a {
	color: #000;
	&:hover, &:focus {
		color: #000;
	}
}

.page,
.special-page article {
	padding: 40px;
	font-size: 12px;
	line-height: 18px;
	position: fixed;
	display: none;
	top: 0;
	z-index: 0;
	-webkit-transform: translateZ(0); /* bug: causes problems for position fixed */
	overflow: hidden;
	background-color: #b28cbf;
	@include single-box-shadow;
	/* @include debug-vertical-alignment; */
}

.special-page {
	position: absolute;
	top: 0em;
	display: none;
}

#project1 {
	top: auto;
	position: relative;
	display: block;
	background-color: teal;
	z-index: 10;
}

#project2 {
	background-color: purple;
}

#project3 {
	background-color: #e2d010;
}


/*
 Header bar
 */
 
.header {
	zoom: 1;
	position: relative;
	z-index: 20;
	line-height: 1em;
	color: #fff;
	@include background-image(linear-gradient(#3C3C3C, #111));
	border: {
		style: solid;
		width: 1px;
		left-width: 0;
		right-width: 0;
		top-color: #3c3c3c;
		bottom-color: #111;
	}
		a {
			color: #fff;
		}
		h1 {
			font-weight: bold;
			margin: 0.6em 10em 0.6em 2.4em;
			padding: 0;
		}
		.logo {
			@extend .btn-prep;
			left: 0.6em;
			top: 0.6em;
			width: 18px;
			height: 18px;
		}
		.btn-about, .btn-back {
			@include button(right, #555);
			top: 0.3em;
		}

}

nav {
	position: relative;
	z-index: 20;
	background-color: #e6e6e6;
	text-align: center;
	height: 1.5em;
	li {
		list-style: none;
		display: inline-block;
		margin-right: 4px;
		a {
			display: inline-block;
			width: 8px;
			height: 8px;
			@include border-radius(4px);
			background-color: #aaa;
		}
		&.selected a {
			background-color: #333;
		}
	}
}

.btn-prep {	
	margin: 0;
	display: inline-block;
	position: absolute;
	font-weight: bold;
	text-decoration: none;
}

.home-icon {
	padding: 0;
	height: 100%;
	background: url('../gfx/logo.png') no-repeat;
	display: block;
	position: relative;
	min-width: 0.75em;
}


/*
 content
*/
article h1 {
	@include adjust-font-size-to(42px);
}

article h2 {
	@include adjust-font-size-to(32px);
}


.personal-links li {
	@extend %button-list-item;
	@include adjust-font-size-to(22px);
	background-color: #000;
	color: #fff;
	a {
		color: #fff;
		text-decoration: none;
		&:hover, &:focus {
			color: #fff;
		}
	}
}



/*
 footer
*/
footer ul {
	
}


/*
 media queries
 */

@media screen and (-webkit-min-device-pixel-ratio: 2), screen and (max--moz-device-pixel-ratio: 2) {
	.home-icon {
		background: url('../gfx/logo@2x.png') no-repeat;
		@include background-size(18px);
	}
}
