@charset "UTF-8";
@import "base";
body {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 100%;
	background: #676767 repeat-x fixed url('../gfx/bg-noise-half.png');
	overflow-x: hidden; /* does it work on mobile?? needed? */
	@include respond-to(desktop) {
		width: 78%;
		margin: 0 auto;
	}
}

a {
	color: #000;
	&:hover, &:focus {
		color: #000;
	}
}

p,
figure {
	margin-bottom: 12px;
}

figure {
	background-color: rgba(255, 255, 255, 0.7);
	padding: 12px;
	@include border-radius(3px);
}

img,
object,
embed,
video {
	max-width: 100%;
}

.shutter {
	background: #676767 repeat-x fixed url('../gfx/bg-noise-half.png');
	position: fixed;
	height: 100%;
	width: 100%;
	top: 0;
}

.page,
.special-page {
	padding: 6.25% 6.25% 12.5%; /* 20 % 320 */
	position: fixed;
	top: 0;
	z-index: 0;
	-webkit-transform: translateZ(0);
	overflow: hidden;
	background-color: #eeeeee;
	@include single-box-shadow;
	/* @include debug-vertical-alignment; */
}

.special-page {
	display: none;
	position: absolute;
	top: 0em;
}

.page.first {
	top: auto;
	position: relative;
	display: block;
	z-index: 10;
}


.header {
	position: relative;
	z-index: 300;
	line-height: 1em;
	@include respond-to(desktop) {
		height: 3em;
	}
	color: #fff;
	@include background-image(linear-gradient(#3C3C3C, #111));
	border: {
		style: solid;
		width: 1px;
		left-width: 0;
		right-width: 0;
		top-color: #3c3c3c;
		bottom-color: #111;
	}
		a {
			color: #fff;
		}
		h1 {
			font-weight: bold;
			margin: 0.6em 10em 0.6em 2.4em;
			padding: 0;
		}
		.logo {
			@extend .btn-prep;
			left: 0.6em;
			top: 0.6em;
			width: 18px;
			height: 18px;
		}
		.btn-about, .btn-back {
			@include button(right, #555);
			top: 0.3em;
		}

}


nav {
	position: relative;
	z-index: 20;
	background-color: #111;
	text-align: center;
	height: 1.5em;
	li {
		list-style: none;
		display: inline-block;
		margin-right: 4px;
		a {
			display: inline-block;
			width: 8px;
			height: 8px;
			@include border-radius(4px);
			background-color: #aaa;
		}
		&.selected a {
			background-color: #eee;
		}
	}
}

.btn-prep {	
	margin: 0;
	display: inline-block;
	position: absolute;
	font-weight: bold;
	text-decoration: none;
}

.home-icon {
	padding: 0;
	height: 100%;
	background: url('../gfx/logo.png') no-repeat;
	display: block;
	position: relative;
	min-width: 0.75em;
	@include retina {
		background: url('../gfx/logo@2x.png') no-repeat;
		@include background-size(18px);	
	}
}


/*
 content
*/
article {
	
	h1 {
		font-size: 2em;
		line-height: 1.2em;
	}
	
	h2 {
		font-size: 1.4em;
		line-height: 1.2em;
	}
	
	h3 {
		font-size: 1.2em;
		line-height: 1.1em;
	}
	
	p, li, a, figcaption {
		font-size: 1em;
		line-height: 1.3em;
		text-align: justify;
		hyphens: auto;
		-webkit-hyphens: auto;
		-moz-hyphens: auto;
		-ms-hyphens: auto;
	}
	
}

.columned {
	@include respond-to(desktop) {
		width: 49%;
		display: inline-block;
		margin-bottom: 24px;
	}
}

.icon-block {
	.leading-icon, p {
		display: inline-block;
		vertical-align: text-top;
	}
	.leading-icon {
		width: 30%;
		text-align: center;
		margin-right: 2%;
	}
	p {
		width: 66%;
	}
}

hgroup {
	margin-bottom: 1.4em;
}


.actions li {
	@extend %button-list-item;
	background-color: #000;
	color: #fff;
	a {
		color: #fff;
		text-decoration: none;
		&:hover, &:focus {
			color: #fff;
		}
	}
}


footer li {
	display: inline;
	margin-right: 4px;
	padding: 4px;
	line-height: 2em;
	background-color: #000;
	color: #fff;
}


/*
 media queries
 */

