/* style.scss */
@import "base";
$bg-color: #4d4d4d;
$main-color: teal;

nav {
	width: 100%;
	background-color: $bg-color;
	li {
		list-style: none;
		display: inline-block;
		a {
			color: $main-color;
		}
	}
}

.wrapper {
	position: absolute;
	width: 100%;
	top: 0;
	left: 0;
}

.header {
	font-family: Helvetica, Arial, sans-serif;
	zoom: 1;
	color: #fff;
	border: {
		style: solid;
		width: 1px;
		left-width: 0;
		right-width: 0;
		top-color: #3c3c3c;
		bottom-color: #111;
	}
	@include gradientbg(#3C3C3C, #111, top);
		a {
			color: #fff;
		}
		h1 {
			font-weight: bold;
			margin: 0.6em 10em 0.6em 2.4em;
			padding: 0;
		}
		.logo {
			left: 0.6em;
			top: 0.6em;
			width: 18px;
			height: 18px;
		}
		.btn-small {
			top: 0.3em;
		}

}

.icon-home {
	padding: 0;
	height: 100%;
	background: url('../gfx/logo.png') no-repeat;
	display: block;
	position: relative;
	min-width: 0.75em;
}


@media screen and (-webkit-min-device-pixel-ratio: 2), screen and (max--moz-device-pixel-ratio: 2) {
	.icon-home {
		background: url('../gfx/logo@2x.png') no-repeat;
		background-size: 18px;
	}
}


.btn {	
	margin: 0;
	display: inline-block;
	position: absolute;
	font-weight: bold;
	text-decoration: none;
}

.btn-small {
	@include gradientbg(#555, #383838, top);
	font-size: 12.5px;
	@include boxshadow(1px, 1px, 0px, rgba(255,255,255,0.1));
	border: 1px solid #111;
	&.pos-right {
		right: 0.6em;
	}
		span {
			display: block;
			padding: 0.55em 1em 0.5em;
			border-top: 1px solid rgba(255,255,255,0.3);
			border-left: 1px solid rgba(255,255,255,0.1);
			text-shadow: #111 0px 1px 1px;
		}
}
