/* style.scss */
@import "base";

body {
	overflow-x: hidden;
}

.wrapper {
	position: relative;
}

.page {
	padding: 40px;
	background-color: teal;
}

nav {
	background-color: #e6e6e6;
	text-align: center;
	li {
		list-style: none;
		display: inline-block;
		a {
			display: inline-block;
			width: 8px;
			height: 8px;
			@include rounded(4px);
			background-color: #aaa;
			&:hover, &.selected {
				background-color: #333;
			}
		}
	}
}



/*
 Header bar
 */
 
.header {
	font-family: Helvetica, Arial, sans-serif;
	zoom: 1;
	color: #fff;
	@include gradientbg(#3C3C3C, #111, top);
	border: {
		style: solid;
		width: 1px;
		left-width: 0;
		right-width: 0;
		top-color: #3c3c3c;
		bottom-color: #111;
	}
		a {
			color: #fff;
		}
		h1 {
			font-weight: bold;
			margin: 0.6em 10em 0.6em 2.4em;
			padding: 0;
		}
		.logo {
			@extend .btn-prep;
			left: 0.6em;
			top: 0.6em;
			width: 18px;
			height: 18px;
		}
		.btn-about {
			@include button(right);
			top: 0.3em;
		}

}

.btn-prep {	
	margin: 0;
	display: inline-block;
	position: absolute;
	font-weight: bold;
	text-decoration: none;
}

.icon-home {
	padding: 0;
	height: 100%;
	background: url('../gfx/logo.png') no-repeat;
	display: block;
	position: relative;
	min-width: 0.75em;
}



/*
 media queries
 */

@media screen and (-webkit-min-device-pixel-ratio: 2), screen and (max--moz-device-pixel-ratio: 2) {
	.icon-home {
		background: url('../gfx/logo@2x.png') no-repeat;
		background-size: 18px;
	}
}
